{
  "installed": {
    "oauth2": "client_id",
    "client_id": "your-gmail-client-id.apps.googleusercontent.com",
    "client_secret": "your-gmail-client-secret",
    "refresh_token": "your-refresh-token",
    "type": "authorized_user"
  }
}
